[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/TobGerken/ISAT300/blob/main/1_GettingStarted.ipynb)

# Getting Started with Data in Jupyter

We are starting with some initial data analysis. 
[Pandas](https://pandas.pydata.org/) is a powerful data analysis tool built on top of [python](www.python.org) to read, manipulate, and visualize data. Much like Excel, python organizes data in Tables, which it calls dataframes. 

Because pandas is not part of the core python language we have to import it as a module:

In [1]:
# running this will import pandas.
import pandas as pd

## Reading data into a pandas dataframe

To look at some data, we have to get it into a pandas dataframe. Pandas has a lot of different functions to read data that is saved as a file. 

I saved a dataset containing MPG values for different cars to the cloud. This file is a CSV file, which stands for 'comma separated values'. We can load the content of this file into a dataframe object that we call `df`.

In [5]:
# This loads the data, which is saved online 
df = pd.read_csv('https://raw.githubusercontent.com/TobGerken/ISAT300/main/Data/mpg_cated.csv')

When using [Google Collab](https://colab.research.google.com) you can either load data that is stored in the cloud or you can upload data into collab. 
To do so follow the steps shown below: 

<img src="https://raw.githubusercontent.com/TobGerken/ISAT300/main/Figures/UploadingAFile.PNG " alt="drawing" width="800"/>

Assuming the file is now uploaded to Collab, you can load it to the dataframe by specifying the local path

In [8]:
df = pd.read_csv('./mpg_cated.csv')

Let's have a look at the data

In [10]:
df

,origin,cylinders,model_year,mpg_level,car_company,mpg,displacement,horsepower,weight,acceleration
0,usa,8,70,medium,chevrolet,18.0,307.0,130.0,3504,12.0
1,usa,8,70,low,buick,15.0,350.0,165.0,3693,11.5
2,usa,8,70,medium,plymouth,18.0,318.0,150.0,3436,11.0
3,usa,8,70,low,amc,16.0,304.0,150.0,3433,12.0
4,usa,8,70,medium,ford,17.0,302.0,140.0,3449,10.5
...,...,...,...,...,...,...,...,...,...,...
387,usa,4,82,medium,ford,27.0,140.0,86.0,2790,15.6
388,europe,4,82,high,vw,44.0,97.0,52.0,2130,24.6
389,usa,4,82,high,dodge,32.0,135.0,84.0,2295,11.6
390,usa,4,82,medium,ford,28.0,120.0,79.0,2625,18.6
391,usa,4,82,high,chevy,31.0,119.0,82.0,2720,19.4

**Q: What do we learn from this look?**

Here are a few useful commands for exploring the basic data:

In [11]:
# This will display the first couple of rows
df.head()

,origin,cylinders,model_year,mpg_level,car_company,mpg,displacement,horsepower,weight,acceleration
0,usa,8,70,medium,chevrolet,18.0,307.0,130.0,3504,12.0
1,usa,8,70,low,buick,15.0,350.0,165.0,3693,11.5
2,usa,8,70,medium,plymouth,18.0,318.0,150.0,3436,11.0
3,usa,8,70,low,amc,16.0,304.0,150.0,3433,12.0
4,usa,8,70,medium,ford,17.0,302.0,140.0,3449,10.5

In [12]:
# This will give you the dimension of the data
df.shape

(392, 10)

## Selecting Data 

Dataframes can be very big and can also have many colums, so sometimes we just want to select a small portion of the dataframe. 

For example, we can select only the `origin` column.

In [13]:
df['origin']

0         usa
1         usa
2         usa
3         usa
4         usa
        ...
387       usa
388    europe
389       usa
390       usa
391       usa
Name: origin, Length: 392, dtype: object

In [24]:
# more than one column is selected like this
df[['mpg', 'horsepower']]

      mpg  horsepower
0    18.0       130.0
1    15.0       165.0
2    18.0       150.0
3    16.0       150.0
4    17.0       140.0
..    ...         ...
387  27.0        86.0
388  44.0        52.0
389  32.0        84.0
390  28.0        79.0
391  31.0        82.0

[392 rows x 2 columns]

Getting the value counts for categorical variables is also useful.

In [25]:
df[['origin','cylinders']].value_counts()

origin  cylinders
usa     8            103
        6             73
japan   4             69
usa     4             69
europe  4             61
japan   6              6
europe  6              4
japan   3              4
europe  5              3
dtype: int64

**Q: What happens if you try this for continuous variables?**

In [29]:
## Try it out for the mpg and displacement columns. Is this information useful?

# Most basic descriptive statistics 

We can also generate some very basic descriptive statistics by using panda's `.describe()`

In [15]:
df.describe()

,cylinders,model_year,mpg,displacement,horsepower,weight,acceleration
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,5.471939,75.979592,23.445918,194.411990,104.469388,2977.584184,15.541327
std,1.705783,3.683737,7.805007,104.644004,38.491160,849.402560,2.758864
min,3.000000,70.000000,9.000000,68.000000,46.000000,1613.000000,8.000000
25%,4.000000,73.000000,17.000000,105.000000,75.000000,2225.250000,13.775000
50%,4.000000,76.000000,22.750000,151.000000,93.500000,2803.500000,15.500000
75%,8.000000,79.000000,29.000000,275.750000,126.000000,3614.750000,17.025000
max,8.000000,82.000000,46.600000,455.000000,230.000000,5140.000000,24.800000

**Q: What do you notice?**

Sometimes, we are only interested in a few statistics and we can calculate these directly.

In [20]:
# Here is an example:
df['mpg'].mean()

23.44591836734694

In [22]:
# Try calculating the sum (hint: .sum()); median; minimum (min), maximum (max) in this cell:

usa       245
japan      79
europe     68
Name: origin, dtype: int64

## A first attempt at data analysis 

Maybe we want to find out how US and European cars compare in terms of gas milage. Let's find out. For this we have to learn how to select only the europan and us cars. Luckily pandas can easily do this, because it understands conditionals (you should remember these from your programming class).

In [30]:
df['origin']== 'europe'

0      False
1      False
2      False
3      False
4      False
       ...
387    False
388     True
389    False
390    False
391    False
Name: origin, Length: 392, dtype: bool

In [32]:
# We can now select all cars that are made in europe and save these to a new dataframe. 
# the loc command helps us subset the data based on a condition. 
df_european = df.loc[df['origin']== 'europe']
df_european.head()

,origin,cylinders,model_year,mpg_level,car_company,mpg,displacement,horsepower,weight,acceleration
19,europe,4,70,medium,volkswagen,26.0,97.0,46.0,1835,20.5
20,europe,4,70,medium,peugeot,25.0,110.0,87.0,2672,17.5
21,europe,4,70,medium,audi,24.0,107.0,90.0,2430,14.5
22,europe,4,70,medium,saab,25.0,104.0,95.0,2375,17.5
23,europe,4,70,medium,bmw,26.0,121.0,113.0,2234,12.5

In [ ]:
# Why don't you do the same thing for us cars and then calculate for each of these average gas milage.