[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/TobGerken/ISAT300/blob/main/1_GettingStarted.ipynb)

# Getting Started with Data in Jupyter

**This notebook is published on my github. It is publicly accessible, but you cannot save your changes to my github. Learning git & github is beyond the scope of this course. If you are familiar with github, you know that to do. If you don't know github, you can save a personal copy of the file to your google drive, so that you can save your changes and can access them at a later date**

<img src="https://raw.githubusercontent.com/TobGerken/ISAT300/main/Figures/SaveFile.png " alt="drawing" width="800"/>

## Learning Goals 

We are starting with some initial data analysis. 
[Pandas](https://pandas.pydata.org/) is a powerful data analysis tool built on top of [python](www.python.org) to read, manipulate, and visualize data. Much like Excel, python organizes data in Tables, which it calls dataframes. 

Pandas and python have become one of the go-to's in data science for protyping and developing data analysis frameworks. 

After completing this exercise, you should be able to:

- use pandas with google collab to read data into a dataframe object
- understand how data is organized into rows and columns
- select one or multiple columns from the dataset
- apply descriptive statistics methods to data in columns
- select data based on a condition

## Now lets get started 



Because pandas is not part of the core python language we have to import it as a module:

In [2]:
# running this will import pandas.
import pandas as pd

## Reading data into a pandas dataframe

To look at some data, we have to get it into a pandas dataframe. Pandas has a lot of different functions to read data that is saved as a file. 
All the functions that pandas can be accessed by chaining them with a `.`.

For example the `pd.read_csv()` function can be used to load data for analysis. 

I saved a dataset containing MPG values for different cars to the cloud. This file is a CSV file, which stands for 'comma separated values'. We can load the content of this file into a dataframe object that we call `df`.

In [3]:
# This loads the data, which is saved online 
df = pd.read_csv('https://raw.githubusercontent.com/TobGerken/ISAT300/main/Data/mpg_cated.csv')

When using [Google Collab](https://colab.research.google.com) you can either load data that is stored in the cloud or you can upload data into collab. 
To do so follow the steps shown below: 

<img src="https://raw.githubusercontent.com/TobGerken/ISAT300/main/Figures/UploadingAFile.PNG " alt="drawing" width="800"/>

Assuming the file is now uploaded to Collab, you can load it to the dataframe by specifying the local path. To do so, right click on the file and select copy path (see figure below).

<img src="https://raw.githubusercontent.com/TobGerken/ISAT300/main/Figures/getFilePath.png" alt="drawing" width="800"/>

This will return the location of the file that we want to load. It should be `/content/mpg_cated.csv`, which we can then use to load the data. You can try this out below. ***Obviously, you will have needed to upload the data to collab first.***

In [4]:
# this will load the file if it was uploaded to collab
df = pd.read_csv('/content/mpg_cated.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/content/mpg_cated.csv'

Let's have a look at the data. To do, so we can simply type the name of variable the data frame is stored in: `df`

In [5]:
df

,origin,cylinders,model_year,mpg_level,car_company,mpg,displacement,horsepower,weight,acceleration
0,usa,8,70,medium,chevrolet,18.0,307.0,130.0,3504,12.0
1,usa,8,70,low,buick,15.0,350.0,165.0,3693,11.5
2,usa,8,70,medium,plymouth,18.0,318.0,150.0,3436,11.0
3,usa,8,70,low,amc,16.0,304.0,150.0,3433,12.0
4,usa,8,70,medium,ford,17.0,302.0,140.0,3449,10.5
...,...,...,...,...,...,...,...,...,...,...
387,usa,4,82,medium,ford,27.0,140.0,86.0,2790,15.6
388,europe,4,82,high,vw,44.0,97.0,52.0,2130,24.6
389,usa,4,82,high,dodge,32.0,135.0,84.0,2295,11.6
390,usa,4,82,medium,ford,28.0,120.0,79.0,2625,18.6
391,usa,4,82,high,chevy,31.0,119.0,82.0,2720,19.4

We can now see a preview of the data we just loaded for analysis. 

**Questions:**
- **How would you describe what you see?**
- **What can you say about the data format?**
- **What can you say about the data itself?**

In [ ]:
# if you want to you can write it in here:

## Exploring the Data

Here are a few useful commands for exploring the basic data. In pandas, we can apply methods to our dataframe. They are also chained with a `.`.
There are a lot of them and you will be getting to know a lot of more them throughout the semester. 

For now, let's just try a couple: `.head()`,`.shape`,`.info()`. Note that some have `()` after them. The parentheses are necessary!

In [7]:
# .head will display the first couple of rows of the dataframe
df.head()

,origin,cylinders,model_year,mpg_level,car_company,mpg,displacement,horsepower,weight,acceleration
0,usa,8,70,medium,chevrolet,18.0,307.0,130.0,3504,12.0
1,usa,8,70,low,buick,15.0,350.0,165.0,3693,11.5
2,usa,8,70,medium,plymouth,18.0,318.0,150.0,3436,11.0
3,usa,8,70,low,amc,16.0,304.0,150.0,3433,12.0
4,usa,8,70,medium,ford,17.0,302.0,140.0,3449,10.5

In [ ]:
# shape will give you the dimension of the data
df.shape

The `.info()` method provides some additional information about the data. 

**Q: Can you use the guess what the difference is between `object` and `int64` in the `Dtype` column?**

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   origin        392 non-null    object
 1   cylinders     392 non-null    int64
 2   model_year    392 non-null    int64
 3   mpg_level     392 non-null    object
 4   car_company   392 non-null    object
 5   mpg           392 non-null    float64
 6   displacement  392 non-null    float64
 7   horsepower    392 non-null    float64
 8   weight        392 non-null    int64
 9   acceleration  392 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 30.8+ KB

## Selecting Data 

Dataframes work like tables (think Excel). They have rows and columns. Th 

Some dataframes can be very big with many rows and many columsn, so sometimes we just want to select a small portion of the dataframe. 

Often, we are interested in a specific column of the dataframe and we can select these by the _column names_. To do so, we put the column name in square brackets `[<column name>]`

For example, we can select only the `origin`-column (note the `''` to denote that the column name is a _string_ and not a variable) in our dataframe like this :

In [11]:
df['origin']

0         usa
1         usa
2         usa
3         usa
4         usa
        ...
387       usa
388    europe
389       usa
390       usa
391       usa
Name: origin, Length: 392, dtype: object

If we want to select more than one column, we can supply a list of column names. Like this.

In [12]:
# more than one column is selected like this
df[['mpg', 'horsepower']]

      mpg  horsepower
0    18.0       130.0
1    15.0       165.0
2    18.0       150.0
3    16.0       150.0
4    17.0       140.0
..    ...         ...
387  27.0        86.0
388  44.0        52.0
389  32.0        84.0
390  28.0        79.0
391  31.0        82.0

[392 rows x 2 columns]

In [10]:
# Try selecting three other columns from the dataframe. For example: model_year, car_company, and weight
# complete the code below: 
df[]

Getting the value counts for categorical and discrete variables is also useful.
_Recall your statistics class about `categorical`, `discrete`, and `continuous` data_

In [ ]:
df[['origin','cylinders']].value_counts()

**Q: What is being displayed here?**

**Q: What happens if you try this for continuous variables?**

In [ ]:
## Try it out for the mpg and displacement columns. Is this information useful?

# Most basic descriptive statistics 

We can also generate some very basic descriptive statistics by using panda's `.describe()`

In [13]:
df.describe()

,cylinders,model_year,mpg,displacement,horsepower,weight,acceleration
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,5.471939,75.979592,23.445918,194.411990,104.469388,2977.584184,15.541327
std,1.705783,3.683737,7.805007,104.644004,38.491160,849.402560,2.758864
min,3.000000,70.000000,9.000000,68.000000,46.000000,1613.000000,8.000000
25%,4.000000,73.000000,17.000000,105.000000,75.000000,2225.250000,13.775000
50%,4.000000,76.000000,22.750000,151.000000,93.500000,2803.500000,15.500000
75%,8.000000,79.000000,29.000000,275.750000,126.000000,3614.750000,17.025000
max,8.000000,82.000000,46.600000,455.000000,230.000000,5140.000000,24.800000

**Q: What do you notice?**

Sometimes, we are only interested in a few statistics and we can calculate these directly.

In [ ]:
# Here is an example:
df['mpg'].mean()

In [ ]:
# Try calculating the sum (hint: .sum()); median; minimum (.min()), maximum (.max()) in this cell:

Whenever we have data, we need to understand its variation (or uncertainty). Let's find the _standard deviation_ (`.std()`) of the `'mpg'`-column in the dataframe.

In [ ]:
# Try this out

## Creating New Columns and Doing Math

Data analysis required data manipulation and storing the results. 

For example, we might want convert the weight of the car from pounds to kg like this.

In [ ]:
df['weight_kg']=df['weight']*0.454 # There are 0.454 lbs in a kg
df.head()

You can even use your calculated statistics to for example find the deviation from the mean.

In [ ]:
df['weight_kg_deviation']=df['weight_kg']-df['weight_kg'].mean()
print('The mean value is:', df['weight_kg'].mean())
df.head()
# It looks like the US cars that we see are heaver than average, but we cannot be sure from a few data points.

## A first attempt at data analysis 

Maybe we want to find out how US and European cars compare in terms of gas milage. Let's find out. For this we have to learn how to select only the europan and us cars. Luckily pandas can easily do this, because it understands conditionals (you should remember these from your programming class).

In [ ]:
df['origin']== 'europe'

In [ ]:
# We can now select all cars that are made in europe and save these to a new dataframe. 
# the .loc command helps us subset the data based on a condition. 
df_european = df.loc[df['origin']== 'europe']
df_european.head()

In [ ]:
# Why don't you do the same thing for U.S. cars and then calculate the average gas milage for european and U.S cars.

## Wrapping up: 

### Don't forget to save your changes before leaving collab

This was a brief run-down on some of the basic functions of Google Collab and _pandas_ and how we can use them to begin analyzing data. Similar to Excel, we have created a table, that we can use to perform calculations and statistical analysis from. 

Next time, we will learn how to make plots using _pandas_. 

One advantage of pandas over Excel is that every analysis step is written as part of a computer program, which means that we can easily change our calculations or change the data, without having to redo the entire sheet. 

### Learning Goals

After completing this exercise, you should be able to:

- use pandas with google collab to read data into a dataframe object
- understand how data is organized into rows and columns 
- select one or multiple columns from the dataset
- apply descriptive statistics methods to data in columns
- select data based on a condition

### Additional Practice

You can try the following practice challenge at home: